<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main.html</title>
</head>
<body>
    <h1> main page</h1>
    <h3> 안녕하세요, <%= email%>님</h3>
    <div><a href="/logout">logout</a></div>
</body>
</html>